{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{{title}}</title>
        
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>

        Course <br>
        Start Learning {{cname}}

        
    </h1>
    <hr>
    <from action=""> 
        <input type="button" value="Click on me" onclick="disp()" style="background-color: #000; color: white;" />
    </from>
        <hr>

    <img src="{% static 'images/pic1.jpeg' %}" alt="love">
    <img src="{% get_static_prefix %}images/pic2.jpg" alt="pic2">
    

    <script src="{% static 'js/all.js' %}"></script>
</body>
</html>